services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    env_file:
      - .env
    ports:
      - "4000:4000"
    networks:
      - peerprep-net
    restart: unless-stopped

networks:
  peerprep-net:
    external: true
