services:
    matching:
        build:
            context: ./backend/matching-service
            dockerfile: Dockerfile
        container_name: matching-service
        env_file:
            - ./backend/matching-service/.env
        ports:
            - "3001:3000" # host 3001 -> container 3000
        restart: unless-stopped
        networks:
            - peerprep-net

    collab:
        build:
            context: ./backend/collab-service
            dockerfile: Dockerfile
        container_name: collab-service
        env_file:
            - ./backend/collab-service/.env
        volumes:
            - ./backend/collab-level-db:/data/leveldb
        ports:
            - "3002:3000" # host 3002 -> container 3000
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "wget", "-qO-", "http://localhost:3000/health"]
            interval: 10s
            timeout: 2s
            retries: 5
            start_period: 5s
        networks:
            - peerprep-net

    user:
        build:
            context: ./backend/user-service
            dockerfile: Dockerfile
        container_name: user-service
        env_file:
            - ./backend/user-service/.env
        ports:
            - "4001:4001" # host 4001 -> container 4001
        restart: unless-stopped
        networks:
            - peerprep-net

    qn:
        build:
            context: ./backend/qn-service
            dockerfile: Dockerfile
        container_name: qn-service
        env_file:
            - ./backend/qn-service/.env
        ports:
            - "3000:3000"
        restart: unless-stopped
        networks:
            - peerprep-net

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: frontend
        env_file:
            - ./frontend/.env
        ports:
            - "4000:4000"
        restart: unless-stopped
        networks:
            - peerprep-net

networks:
    peerprep-net:
        driver: bridge
